body {
  font-family: "EgyptianText", "Georgia", serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #212121;
  line-height: 1.5; }

a {
  color: #076e7d; }
  a:hover {
    text-decoration: underline; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "EgyptianHeadline", "Georgia", serif; }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal; }

.l-grid-cell, .header-column, .header-column--links-nav {
  margin-bottom: 1.5rem; }
  .l-grid-cell:last-child, .header-column:last-child, .header-column--links-nav:last-child {
    margin-bottom: 0; }

.l-grid--collapse > .l-grid-cell, .l-grid--collapse > .header-column, .l-grid--collapse > .header-column--links-nav {
  margin-bottom: 0; }

.l-default-grid {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-left: -1.25rem; }

.l-default-grid--1of2 > .l-default-grid-cell {
  width: 50%;
  -webkit-flex: none;
          flex: none;
  margin-bottom: 1.25rem; }
  .l-default-grid--1of2 > .l-default-grid-cell:last-child, .l-default-grid--1of2 > .l-default-grid-cell:nth-last-child(2):nth-child(odd) {
    margin-bottom: 0; }

.l-default-grid--1of3 > .l-default-grid-cell {
  width: 33.333%;
  -webkit-flex: none;
          flex: none;
  margin-bottom: 1.25rem; }
  .l-default-grid--1of3 > .l-default-grid-cell:last-child, .l-default-grid--1of3 > .l-default-grid-cell:nth-last-child(2):nth-child(3n+2), .l-default-grid--1of3 > .l-default-grid-cell:nth-last-child(2):nth-child(3n+1), .l-default-grid--1of3 > .l-default-grid-cell:nth-last-child(3):nth-child(3n+1) {
    margin-bottom: 0; }

.l-default-grid-cell {
  -webkit-flex-grow: 1;
          flex-grow: 1;
  -webkit-flex-basis: 0;
          flex-basis: 0;
  padding-left: 1.25rem;
  margin-bottom: 0; }

.l-default-2of3 {
  width: 66.666%;
  -webkit-flex: none;
          flex: none; }

.l-default-1of3 {
  width: 33.333%;
  -webkit-flex: none;
          flex: none; }

@media (min-width: 590px) {
  .l-tablet-grid, .header-row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-left: -1.25rem; }

  .l-tablet-grid--1of2 > .l-tablet-grid-cell, .l-tablet-grid--1of2 > .header-column, .l-tablet-grid--1of2 > .header-column--links-nav {
    width: 50%;
    -webkit-flex: none;
            flex: none;
    margin-bottom: 1.25rem; }
    .l-tablet-grid--1of2 > .l-tablet-grid-cell:last-child, .l-tablet-grid--1of2 > .header-column:last-child, .l-tablet-grid--1of2 > .header-column--links-nav:last-child, .l-tablet-grid--1of2 > .l-tablet-grid-cell:nth-last-child(2):nth-child(odd), .l-tablet-grid--1of2 > .header-column:nth-last-child(2):nth-child(odd), .l-tablet-grid--1of2 > .header-column--links-nav:nth-last-child(2):nth-child(odd) {
      margin-bottom: 0; }

  .l-tablet-grid--1of3 > .l-tablet-grid-cell, .l-tablet-grid--1of3 > .header-column, .l-tablet-grid--1of3 > .header-column--links-nav {
    width: 33.333%;
    -webkit-flex: none;
            flex: none;
    margin-bottom: 1.25rem; }
    .l-tablet-grid--1of3 > .l-tablet-grid-cell:last-child, .l-tablet-grid--1of3 > .header-column:last-child, .l-tablet-grid--1of3 > .header-column--links-nav:last-child, .l-tablet-grid--1of3 > .l-tablet-grid-cell:nth-last-child(2):nth-child(3n+2), .l-tablet-grid--1of3 > .header-column:nth-last-child(2):nth-child(3n+2), .l-tablet-grid--1of3 > .header-column--links-nav:nth-last-child(2):nth-child(3n+2), .l-tablet-grid--1of3 > .l-tablet-grid-cell:nth-last-child(2):nth-child(3n+1), .l-tablet-grid--1of3 > .header-column:nth-last-child(2):nth-child(3n+1), .l-tablet-grid--1of3 > .header-column--links-nav:nth-last-child(2):nth-child(3n+1), .l-tablet-grid--1of3 > .l-tablet-grid-cell:nth-last-child(3):nth-child(3n+1), .l-tablet-grid--1of3 > .header-column:nth-last-child(3):nth-child(3n+1), .l-tablet-grid--1of3 > .header-column--links-nav:nth-last-child(3):nth-child(3n+1) {
      margin-bottom: 0; }

  .l-tablet-grid-cell, .header-column, .header-column--links-nav {
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0;
            flex-basis: 0;
    padding-left: 1.25rem;
    margin-bottom: 0; }

  .l-tablet-2of3 {
    width: 66.666%;
    -webkit-flex: none;
            flex: none; }

  .l-tablet-1of3 {
    width: 33.333%;
    -webkit-flex: none;
            flex: none; } }
@media (min-width: 900px) {
  .l-desktop-grid {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-left: -1.25rem; }

  .l-desktop-grid--1of2 > .l-desktop-grid-cell {
    width: 50%;
    -webkit-flex: none;
            flex: none;
    margin-bottom: 1.25rem; }
    .l-desktop-grid--1of2 > .l-desktop-grid-cell:last-child, .l-desktop-grid--1of2 > .l-desktop-grid-cell:nth-last-child(2):nth-child(odd) {
      margin-bottom: 0; }

  .l-desktop-grid--1of3 > .l-desktop-grid-cell {
    width: 33.333%;
    -webkit-flex: none;
            flex: none;
    margin-bottom: 1.25rem; }
    .l-desktop-grid--1of3 > .l-desktop-grid-cell:last-child, .l-desktop-grid--1of3 > .l-desktop-grid-cell:nth-last-child(2):nth-child(3n+2), .l-desktop-grid--1of3 > .l-desktop-grid-cell:nth-last-child(2):nth-child(3n+1), .l-desktop-grid--1of3 > .l-desktop-grid-cell:nth-last-child(3):nth-child(3n+1) {
      margin-bottom: 0; }

  .l-desktop-grid-cell {
    -webkit-flex-grow: 1;
            flex-grow: 1;
    -webkit-flex-basis: 0;
            flex-basis: 0;
    padding-left: 1.25rem;
    margin-bottom: 0; }

  .l-desktop-2of3 {
    width: 66.666%;
    -webkit-flex: none;
            flex: none; }

  .l-desktop-1of3 {
    width: 33.333%;
    -webkit-flex: none;
            flex: none; } }
.h1, h1 {
  font-size: 3rem;
  line-height: 1; }

.h2, h2 {
  font-size: 2rem;
  line-height: 1; }

.h3, h3, .alt-h3, .developer-blog-section article h3 {
  font-size: 1.3rem;
  line-height: 1;
  font-weight: bold; }

.alt-h3, .developer-blog-section article h3 {
  margin-bottom: 0; }

@font-face {
  font-family: "AgateSans";
  src: url("http://pasteup.guim.co.uk/fonts/latin1/Guardian-Ag-Sans-1-Web-Reg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "EgyptianText";
  src: url("http://pasteup.guim.co.uk/fonts/WebEgyptianHinted-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "EgyptianText";
  src: url("http://pasteup.guim.co.uk/fonts/WebEgyptianHinted-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-stretch: normal; }
@font-face {
  font-family: "EgyptianText";
  src: url("http://pasteup.guim.co.uk/fonts/latin1/Guardian-Text-Egyp-Web-Med.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "EgyptianHeadline";
  src: url("http://pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "EgyptianHeadline";
  src: url("http://pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }
@font-face {
  font-family: "EgyptianHeadline";
  src: url("http://pasteup.guim.co.uk/fonts/latin1/Guardian-Egyp-Web-Semibold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-stretch: normal; }
main {
  display: block; }

* {
  box-sizing: border-box; }

body {
  margin: 0; }

img {
  vertical-align: middle; }

iframe,
img {
  max-width: 100%; }

@media (min-width: 650px) {
  .main-image {
    position: relative;
    padding-bottom: 1.5rem; } }
@media (max-width: 900px) {
  .no-object-fit .main-image {
    position: initial; }
    .no-object-fit .main-image .main-image__overlay {
      position: initial; }
    .no-object-fit .main-image .main-image__overlay__inner {
      width: initial; } }

.object-fit .main-image__img {
  object-fit: cover;
  height: 50vmin;
  min-height: 40vmax;
  width: 100%; }
  @media (min-width: 900px) {
    .object-fit .main-image__img {
      height: 60vmin;
      min-height: 30vmax; } }

@media (min-width: 650px) {
  .main-image__overlay {
    position: absolute;
    bottom: 0;
    width: 100%; } }

@media (min-width: 650px) {
  .main-image__overlay__inner {
    width: 28em; } }

@media (min-width: 900px) {
  .inset, .header__inner, .page-intro {
    min-width: 900px;
    width: 95vw;
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto; } }

.base-list, .main-nav > ul {
  list-style: none;
  padding-left: 0; }

.trailing-margin, h1,
h2,
h3,
h4,
h5,
h6,
p,
ul, .l-grid, .header-row, .main-image, .developer-blog-section article time, .media {
  margin-bottom: 1.5rem; }
  .trailing-margin:last-child, h1:last-child,
  h2:last-child,
  h3:last-child,
  h4:last-child,
  h5:last-child,
  h6:last-child,
  p:last-child,
  ul:last-child, .l-grid:last-child, .header-row:last-child, .main-image:last-child, .developer-blog-section article time:last-child, .media:last-child {
    margin-bottom: 0; }

.hidden {
  display: none; }

.dotted-top, .h3, h3, .alt-h3, .developer-blog-section article h3, .main-nav {
  border-top: 1px dotted #0cb9d4;
  padding-top: 0.375rem; }

.dotted-top--white {
  border-top-color: white; }

.sans-serif, .cta-link {
  font-family: "AgateSans", sans-serif; }

.blue-widget, .grey-widget, .header,
.blue-widget a,
.grey-widget a,
.header a {
  color: white; }

.island, .header__inner, .page-intro {
  padding: 1.5rem 1.25rem; }

.blue-widget {
  background-color: #0cb9d4; }

.grey-widget, .header {
  background-color: #474747; }

.header {
  border-top: 4px solid #0cb9d4; }

@media (min-width: 900px) {
  .header__inner, .page-intro {
    padding-top: 2rem;
    padding-bottom: 2rem; } }

.main-nav {
  padding-top: 0;
  text-transform: lowercase;
  font-size: 1.2rem; }
  .main-nav > ul > li > a {
    display: block;
    text-decoration: none;
    padding-top: 2px; }
    @media (min-width: 900px) {
      .main-nav > ul > li > a {
        padding-top: 1px; } }
    .main-nav > ul > li > a:hover {
      text-decoration: underline; }
    .main-nav > ul > li > a.active {
      border-top: 2px solid #0cb9d4;
      margin-top: -2px; }
      @media (min-width: 900px) {
        .main-nav > ul > li > a.active {
          margin-top: -1px;
          padding-top: 0; } }

.video {
  position: relative; }

.video__placeholder {
  width: 100%;
  padding-bottom: 56.2%;
  position: relative;
  overflow: hidden; }

.video__iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; }

.page-banner, .main-image__overlay__inner, .page-intro {
  font-size: 1.2rem; }
  @media (min-width: 60rem) {
    .page-banner, .main-image__overlay__inner, .page-intro {
      font-size: 2vw; } }
  @media (min-width: 75rem) {
    .page-banner, .main-image__overlay__inner, .page-intro {
      font-size: 1.5rem; } }
  .page-banner .h1, .main-image__overlay__inner .h1, .page-intro .h1, .page-banner h1, .main-image__overlay__inner h1, .page-intro h1 {
    font-size: 2.25em;
    line-height: 1; }

@media (min-width: 900px) {
  .small-home-banner {
    font-size: 2rem;
    width: 25rem; } }
  @media (min-width: 900px) and (min-width: 66.66667rem) {
    .small-home-banner {
      font-size: 3vw; } }
  @media (min-width: 900px) and (min-width: 75rem) {
    .small-home-banner {
      font-size: 2.25rem; } }
  @media (min-width: 900px) and (min-width: 50rem) {
    .small-home-banner {
      width: 50vw; } }
  @media (min-width: 900px) and (min-width: 56.25rem) {
    .small-home-banner {
      width: 28.125rem; } }

.footer {
  font-size: 0.875rem;
  color: gray; }

.developer-blog-section article time {
  display: block;
  color: gray; }

.u-normal-weight-text {
  font-weight: 400; }

.media {
  display: -webkit-flex;
  display: flex; }

.media__img {
  -webkit-flex-shrink: 0;
          flex-shrink: 0;
  margin-right: 1.25rem; }

/*h1*/
.title {
  line-height: 0; }

@media (min-width: 590px) {
  .header-row {
    -webkit-align-items: center;
            align-items: center; } }

.header-column--links-nav {
  -webkit-flex-grow: 0;
          flex-grow: 0;
  -webkit-flex-basis: auto;
          flex-basis: auto;
  display: -webkit-flex;
  display: flex; }

.links-nav__item {
  margin-left: 0.5rem; }
  .links-nav__item:first-of-type {
    margin-left: 0; }

.talk__image-container {
  position: relative;
  padding-bottom: 1.5rem; }

.talk__image-container__image {
  border: 1px solid #bfbfbf; }

.talk__image-container__author-gravatar {
  border-radius: 100%;
  position: absolute;
  bottom: 0;
  right: -0.625rem; }
