// TODO: Bemify?
$x: 650px;

.main-image-container {
    @extend .trailing-margin;

    @include breakpoint($x) {
        // Position `.main-image-overlay` relative to this
        position: relative;
        padding-bottom: $trailing-margin-height;
    }

    &.with-no-image {
        @include unset(padding-bottom);
    }
}

.main-image {
    // TODO: Polyfill for FF, IE11, Safari
    object-fit: cover;
    height: 50vmin;
    min-height: 40vmax;
    // Reset from UA – by default the aspect ratio is maintained
    width: 100%;

    @include breakpoint($desktop) {
        // Reset
        height: 60vmin;
        min-height: 30vmax;
    }

    .main-image-container.with-no-image & {
        display: none;
    }
}

.main-image-overlay {
    @include breakpoint($x) {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .main-image-container.with-no-image & {
        @include unset(position);
    }
}

.main-image-overlay-inner {
    @extend .page-banner;
    @include breakpoint($x) {
        width: 28em;
    }
}
