<footer>
    <div class="blue-widget">
        <div class="inset island">
            foo
        </div>
    </div>
    <div class="grey-widget">
        <div class="inset island">
            foo
        </div>
    </div>
</footer>
