<footer>
    <div class="blue-widget">
        <div class="inset island">
            <img src="/images/logo-guardian-small.svg" alt="The Guardian" class="u-block">
        </div>
    </div>
    <div class="grey-widget">
        <div class="inset island">
            foo
        </div>
    </div>
</footer>
