<% include head %>
<main class="trailing-margin">
    <section>
        <div class="grey-widget trailing-margin">
            <div class="page-intro">
                <h1>Open source</h1>
                <p>It’s not just our journalism that’s open. Many of our
                projects are hosted on GitHub and we actively contribute to
                the open source community.</p>
            </div>
        </div>
        <div class="inset">
            <div class="island">
                <section class="dotted-top">
                    <h1>Active projects</h1>
                    <div class="l-grid l-desktop-grid">
                        <div class="l-desktop-grid-cell l-grid-cell l-desktop-1of3">
                            <p>Here are a few of our favourite open source projects.
                            For a list of all publicly available repos, see <a
                            href="https://github.com/guardian">the Guardian’s GitHub
                            account.</a></p>
                        </div>
                        <div class="l-desktop-grid-cell l-grid-cell">
                            <dl>
                                <dt><div class="bubble">.com</div><a href="#" class="alt-h3">Frontend</a></dt>
                                <dd><p>Source for the Guardian’s next-generation responsive website.</p></dd>
                                <dt><div class="bubble">.com</div><a href="#" class="alt-h3">Scribe</a></dt>
                                <dd><p>A rich text editor framework for the web platform, with patches for browser inconsistencies and sensible defaults.</p></dd>
                                <dt><div class="bubble">.com</div><a href="#" class="alt-h3">Magenta</a></dt>
                                <dd><p>The Guardian’s Scala-based deployment library designed to help automate deploys.</p></dd>
                                <dt><div class="bubble">.com</div><a href="#" class="alt-h3">sass-mq</a></dt>
                                <dd><p>A Sass mix-in that helps manipulating media queries in an elegant way.</p></dd>
                                <dt><div class="bubble">.com</div><a href="#" class="alt-h3">guss</a></dt>
                                <dd><p>A collection of CSS and Sass bower components re-usable across multiple Guardian web products.</p></dd>
                            </dl>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</main>
<% include footer %>
