<% include head %>
<main class="trailing-margin">
    <section>
        <div class="grey-widget">
            <div class="inset island">
                <h1>Open source</h1>
            </div>
        </div>
        <div class="inset">
            <div class="island">
                <div class="dotted-top">
                    <div class="l-grid l-desktop-grid l-desktop-grid--flex-cells">
                        <div class="l-desktop-grid-cell l-grid-cell l-desktop-1of3">
                            <section class="content">
                                <h1>Active projects</h1>
                                <p>Here are a few of our favourite open source projects.
                                For a list of all publicly available repos, see <a
                                href="https://github.com/guardian">the Guardian’s GitHub
                                account.</a></p>
                            </section>
                        </div>
                        <div class="l-desktop-grid-cell l-grid-cell">
                            <section class="content">
                                foo
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<% include footer %>
