// TODO: BEMify?
// Mobile up: collapsed view.

.l-grid {
    @extend .trailing-margin;
}

// Apply trailing margins to the cells (except the last).
.l-grid-cell {
    margin-bottom: $trailing-margin-height;

    &:last-child {
        margin-bottom: 0;
    }
}

// Opt out of trailing margins
.l-grid--collapse {
    > .l-grid-cell {
        // Unset from `.l-grid-cell`
        margin-bottom: 0;
    }
}

@include grid(default);

@include breakpoint($tablet) {
    @include grid(tablet);
}

@include breakpoint($desktop) {
    @include grid(desktop);
}
