@import "mixins/unset";

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "EgyptianHeadline", serif;

    a {
        text-decoration: none;
    }
}

h1,
h2,
// h3,
h4,
h5,
h6 {
    // Unset (UA)
    font-weight: normal;
}

.h1 {
    font-size: 3.5rem;
}

.h2 {
    font-size: 2rem;
    line-height: 1.3;
}

.h3 {
    @extend .dotted-top;
    font-size: 1.3rem;
    font-weight: bold;
}

.alt-h3 {
    @extend .h3;
    // Unset (`h3`)
    @include unset(border-top);
    font-weight: normal;
    margin-bottom: 0;
}

h1 {
    @extend .h1;
}

h2 {
    @extend .h2;
}

h3 {
    @extend .h3;
}
