// We make no assumptions about where these classes will be applied, and what
// styles will be inherited.
.h1 {
    font-size: 3rem;
    line-height: 1;
}

.h2 {
    font-size: 2rem;
    line-height: 1;
}

.h3 {
    @extend .dotted-top;
    font-size: 1.3rem;
    line-height: 1;
    font-weight: bold;
}

.alt-h3 {
    @extend .h3;
    // Unset (`.h3`)
    @include unset(margin-bottom);
}
