// TODO:
$gutter-width: 1.25rem;
$trailing-margin-height: 1.5rem;

@import "vars/colors";
@import "vars/breakpoints";

@import "mixins/breakpoint";
@import "mixins/grid";
@import "mixins/unset";
@import "mixins/other";

// Normalize/reset
@import "typography";

// Foundations
@import "grid";
@import "headings";
@import "webfonts";
@import "polyfills";
@import "base";

@import "components/main-image";

.inset {
    @include breakpoint($desktop) {
        min-width: $desktop;
        width: 95vw;
        max-width: 1110px;
        margin-left: auto;
        margin-right: auto;
    }
}

// "Objects"

.base-list {
    list-style: none;
    padding-left: 0;
}

.trailing-margin {
    margin-bottom: $trailing-margin-height;

    &:last-child {
        margin-bottom: 0;
    }
}

// HTML helpers

.hidden {
    display: none;
}

.dotted-top {
    border-top: 1px dotted $blue;
    padding-top: $trailing-margin-height / 4;
}

.dotted-top--white {
    border-top-color: white;
}

.sans-serif {
    font-family: "AgateSans", sans-serif;
}

.cta-link {
    @extend .sans-serif;
    // TODO: Add bold sans-serif
    // font-weight: bold;
}

%white-text {
    &,
    a {
        color: white;
    }
}

.island {
    padding: $trailing-margin-height $gutter-width;
}

.blue-widget {
    @extend %white-text;
    background-color: $blue;
}

.grey-widget {
    @extend %white-text;
    background-color: $grey;
}

.header {
    @extend .grey-widget;
    border-top: 4px solid $blue;
}

.header__inner {
    @extend .island;
    @extend .inset;

    @include breakpoint($desktop) {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
}

.main-nav {
    @extend .dotted-top;
    // Unset (`.dotted-top`)
    @include unset(padding-top);
    text-transform: lowercase;
    font-size: 1.2rem;

    & > ul {
        @extend .base-list;

        & > li > a {
            display: block;
            text-decoration: none;
            // Account for active border
            padding-top: 2px;

            @include breakpoint($desktop) {
                // Account for active border
                padding-top: 1px;
            }

            &:hover {
                text-decoration: underline;
            }

            &.active {
                border-top: 2px solid $blue;
                // Account for active border
                margin-top: -2px;

                @include breakpoint($desktop) {
                    // Account for active border
                    margin-top: -1px;
                    // Unset
                    padding-top: 0;
                }
            }
        }
    }
}

.video {
    position: relative;
}

.video__placeholder {
    // Temp
    @include fix-aspect-ratio(500px, 281px);
}

.video__iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

// Object
.page-banner {
    @include font-size(2, 1.2rem, 1.5rem);

    .h1 {
        font-size: 2.25em;
        line-height: 1;
    }
}

.small-home-banner {
    $x: 50;
    $y: hundred-percent-from(2rem, 4);
    // max-width: percent-of($y, $x);

    @include breakpoint($desktop) {
        @include font-size(3, 2rem, 2.25rem);
        @include width($x,
            percent-of($y, $x),
            percent-of(hundred-percent-from(2.25rem, 4), $x))
    }
}

.page-intro {
    @extend .page-banner;
    @extend .header__inner;
    // Hack: make this look like it's part of the header
    // Could this be done better?
}

// Component?
.footer {
    font-size: 0.875rem;
    color: hsl(0, 0%, 50%);
}

.developer-blog-section {
    article {
        h3 {
            @extend .alt-h3;
        }

        time {
            @extend .trailing-margin;
            display: block;
            color: hsl(0, 0%, 50%);
        }
    }
}

.u-normal-weight-text {
    font-weight: 400;
}

.media {
    @extend .trailing-margin;
    display: flex;
}

.media__img {
    flex-shrink: 0;
    margin-right: $gutter-width;
}

.media__body {}

/*h1*/.title {
    // The `h1` `line-height` effects the height, but as we are displaying an
    // image, we let this control the dimensions.
    // Alternatively, we could set `img` `display: block`, but this effects
    // the click area of the hyperlink which is not what we want.
    line-height: 0;
}

// TODO: BEMify?
.header-row {
    @extend .l-grid;
    @extend .l-tablet-grid;
    @include breakpoint($tablet) {
        align-items: center;
    }
}


.header-column {
    @extend .l-grid-cell;
    @extend .l-tablet-grid-cell;

    @at-root .header-column--links-nav {
        @extend .header-column;
        @include unset(flex-grow);
        @include unset(flex-basis);
        display: flex;
    }
}

.links-nav {
    @at-root .links-nav__item {
        margin-left: 0.5rem;

        // TODO: Brittle? What's the best practice? Use a class instead?
        &:first-of-type {
            margin-left: 0;
        }
    }
}

.talk__image-container {
    position: relative;
    padding-bottom: $trailing-margin-height;
}

.talk__image-container__image {
    border: 1px solid $light-grey;
}

.talk__image-container__author-gravatar {
    // TODO: Vendor prefix
    border-radius: 100%;
    // Positioned relative to `.talk__image-container`
    position: absolute;
    bottom: 0;
    right: -$gutter-width/2;
}

.event {
    position: relative;
}

.event__title,
.event__desc {
    @include breakpoint($tablet) {
        padding-right: 56px;
    }
}

.event__desc {
    margin: 0;
}

.event__users {
    @include breakpoint($tablet) {
        position: absolute;
        right: 0;
        // Positioned relative to `.event` container
        top: -28px;
    }
}

.event__user-gravatar {
    border-radius: 100%;
    @include breakpoint($tablet) {
        float: right;
        margin-left: 4px;
    }
}
