// TODO:
@import "webfonts";

$grey: hsl(0,0%,28%);
$blue: hsl(188,89%,44%);

$tablet: 500px;
$desktop: 900px;

@mixin grid($unit) {
    .l-#{$unit}-Grid {
        display: flex;
        flex-wrap: wrap;
        // Account for first gutter
        margin-left: -1em;
    }

    .l-#{$unit}-Grid--1of2 > .l-#{$unit}-GridCell {
        flex-basis: 50%;
        margin-bottom: 1rem;

        &:last-child,
        &:nth-last-child(2) {
            margin-bottom: 0;
        }
    }

    .l-#{$unit}-Grid--flexCells > .l-#{$unit}-GridCell {
        display: flex;

        & > * {
            flex: 1;
        }
    }

    .l-#{$unit}-GridCell {
        flex: 1;
        padding-left: 1em;
        // Unset
        margin-bottom: 0;
    }

    .l-#{$unit}-2of3 {
        width: 66.666%;
        flex: none;
    }
}

// When collapsed, we apply trailing margins to the cells (except the last).
.l-GridCell {
    margin-bottom: 1rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.l-Grid--collapse {
    & > .l-GridCell {
        margin-bottom: 0;
    }
}

@mixin breakpoint($size) {
    @if (true) {
    // @if (false) {
        // FIXME: Arbitrary number
        @media (min-width: $size) {
            @content;
        }
    }
}

// .content {
//     background: hsl(0,0%, 85%);

//     .content {
//         background: hsl(0,0%, 75%);

//         .content {
//             background: hsl(0,0%, 65%);
//         }
//     }
// }

@mixin inset() {
    @include breakpoint($desktop) {
        min-width: $desktop;
        max-width: 1050px;
        margin-left: auto;
        margin-right: auto;
    }
}

// TODO: Do we want to do this for everything?
* {
    box-sizing: border-box;
}

.hidden {
    display: none
}

.inset {
    @include inset();
}

body {
    // Unset
    margin: 0;
    font-family: "EgyptianText", serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    line-height: 1.4;
}

h1 {
    font-family: "EgyptianHeadline", serif;
    font-weight: 700;
}

h1, p {
    // Unset
    margin-top: 0;
}

h1,
p,
iframe,
.l-Grid,
.trailing-margin {
    margin-bottom: 1rem;
}

.sans-serif {
    font-family: "AgateSans", sans-serif;
}

.cta-link {
    @extend .sans-serif;
    // TODO: Add bold sans-serif
    // font-weight: bold;
}

.dotted-top {
    border-top: 1px dotted $blue;
}

.dotted-top--white {
    border-top-color: white;
}

.h3 {
    @extend .dotted-top;
}

%white-text {
    &,
    a {
        color: white;
    }
}

.island {
    padding: 1rem;
}

.blue-widget {
    @extend %white-text;
    @extend .island;
    background-color: $blue;

}

h1,
p,
.l-Grid {
    &:last-child {
        margin-bottom: 0;
    }
}

iframe,
img {
    max-width: 100%;
}

.header {
    @extend %white-text;
    border-top: 4px solid $blue;
    background-color: $grey;
}

.header__inner {
    @extend .island;
    @include inset();

    @include breakpoint($desktop) {
        padding: 2rem;
    }
}

nav {
    @extend .dotted-top;
    text-transform: lowercase;
    font-size: 18px;

    & > ul {
        // Unset
        padding-left: 0;
        // Unset
        margin-top: 0;
        // Unset
        margin-left: 0;
        // Unset
        margin-bottom: 0;
        // Unset
        list-style: none;

        & > li > a {
            display: block;
            text-decoration: none;
            @include breakpoint($desktop) {
                padding-top: 1px;
            }

            &:hover {
                text-decoration: underline;
            }

            &.active {
                border-top: 2px solid $blue;
                @include breakpoint($desktop) {
                    margin-top: -1px;
                    // Unset
                    padding-top: 0;
                }
            }
        }
    }
}

.tablet-only {
    display: none;

    @include breakpoint($tablet) {
        display: block;
    }
}

@include grid(default);

@include breakpoint($tablet) {
    @include grid(tablet);
}

@include breakpoint($desktop) {
    @include grid(desktop);
}
