body {
    font-family: "EgyptianText", serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: hsl(0, 0%, 13%);
    line-height: 1.5;
}

// TODO: Mimic NGW
a {
    color: darken($blue, 18%);

    &:hover {
        text-decoration: underline;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    @extend .trailing-margin;
    // Unset
    margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "EgyptianHeadline", serif;

    a {
        text-decoration: none;
    }
}

h1,
h2,
// h3,
h4,
h5,
h6 {
    // Unset (UA)
    font-weight: normal;
}

h1 {
    @extend .h1;
}

h2 {
    @extend .h2;
}

h3 {
    @extend .h3;
}
