// Polyfill for `unset` keyword:
// https://developer.mozilla.org/en-US/docs/Web/CSS/unset
// TODO: http://stackoverflow.com/questions/5612302/which-css-styles-are-inherited
@mixin unset($property) {
    @if $property == flex-grow {
        flex-grow: initial;
    } @else if $property == flex-basis {
        flex-basis: initial;
    } @else if $property == border-top {
        border-top: initial;
    } @else if $property == margin-bottom {
        margin-bottom: initial;
    } @else if $property == position {
        position: initial;
    } @else if $property == padding-bottom {
        padding-bottom: initial;
    }
}
