<% include head %>
<main class="trailing-margin">
    <section>
        <div class="grey-widget trailing-margin">
            <div class="page-intro">
                <h1>Diversity & Inclusion</h1>
                <p>???</p>
            </div>
        </div>
        <div class="inset">
            <div class="island">
                <section class="dotted-top">
                    <h2>Header
                    </h2>
                    <div class="l-grid l-desktop-grid">
                        <div class="l-desktop-grid-cell l-grid-cell l-desktop-1of3">
                            <p>???</p>
                        </div>
                        <div class="l-desktop-grid-cell l-grid-cell">
                            <ul class="base-list">
                                <li class="trailing-margin">
                                    <h3 class="alt-h3">Recruitment</h3>
                                    <br />
                                    <h4>Job advertisement and description screening</h4>
                                    <p>We use an augmented writing tool which uses a combination of natural language
                                        processing and data mining to screen our job postings for unconscious bias,
                                        reveal
                                        gendered language and help our job ads to appeal to a more diverse
                                        range of candidates.</p>
                                    <h4>Blind CV reviews</h4>
                                    <p>We redact candidate's names and educational institutions from CVs before
                                        they are reviewed by members of the Engineering team to avoid unconscious bias
                                        in the selection process.</p>
                                    <h4>CV screening</h4>
                                    <p>
                                        Three members of the Engineering team independently review redacted CVs before
                                        meeting to discuss their decisions together. We encourage rotation of these
                                        groups
                                        to promote a broad and diverse range of reviewers.
                                    </p>
                                </li>
                                <li class="trailing-margin">
                                    <h3 class="alt-h3">Benefits</h3>
                                    <br />
                                    <h4>Flexible working</h4>
                                    <p>Flexible working can create a range of employment opportunities,
                                        to suit both changing operational needs and the needs of individuals.
                                        It can also increase employment opportunities for anyone with caring
                                        responsibilities who are unable to work full time. We recognise the
                                        importance of flexible working as part of its wider commitment to diversity
                                        and equality in the workplace.
                                    </p>
                                    <h4>Shared parental leave</h4>
                                    <p>Shared parental leave is a period of leave of up to 50 weeks that can be shared
                                        between parents after their child is born up until the child’s first birthday.
                                        It provides parents with more choice around how they balance their caregiving
                                        responsibilities and can help to improve diversity and inclusion in the
                                        workplace.
                                    </p>
                                </li>
                                <li class="trailing-margin">
                                    <h3 class="alt-h3">Events</h3>
                                    <br />
                                    <h4>The Future of Journalism in the Age of Technology hosted by UKBlackTech and the
                                        Guardian
                                    </h4>
                                    <p>With the rise of technology in the media from artificial intelligence to
                                        virtual reality, the Guardian Newspaper and UKBT came together for an evening
                                        of open discussion on 'The Future of Journalism in the Age of Technology'.
                                        Thought leaders and experts shared their insights on how tech is transforming
                                        journalism and representation.
                                    </p>
                                    <h4>K+ Data Workshop
                                    </h4>
                                    <p>The Guardian hosted some sixth-form students from K+, a branch of King’s
                                        College, to come and take part in a coding workshop and careers Q&A session.
                                        The session was aimed at promising young Science and Maths students who are
                                        under-represented at university (from London state schools with parents who
                                        didn't go to university).</p>
                                    <h4>Code Your Future Homework Club
                                    </h4>
                                    <p>Members of the Engineering team hosted a homework club for students of Code Your
                                        Future, an
                                        organisation supporting refugees and disadvantaged individuals with the
                                        aspiration of
                                        becoming developers.
                                    </p>
                                    <h4>Ada Lovelace Day
                                    </h4>
                                    <p>Girls aged 14-16 from a range of schools were invited to the Guardian’s Education
                                        Centre for a day of events and workshops designed to give them insight into
                                        working in
                                        technology. The students found out about career paths, took a tour of our
                                        Digital department
                                        and took part in coding, UX and data workshops.
                                    </p>
                                    <h4>Guardian Digital Workshop
                                    </h4>
                                    <p>Members of the Engineering team ran a week long workshop in partnership with
                                        existing local community partners
                                        to help students (16+) develop the skills required to successfully apply to
                                        programmes such as
                                        the Guardian’s digital fellowship.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</main>
<% include footer %>