<% include head %>
<main class="trailing-margin">
    <section>
            <div class="inset">
                <div class="island">
                    <section class="dotted-top">
                            <%- scope.htmlPageContent %>
                    </section>
                </div>
            </div>
    </section>
</main>
<% include footer %>
