        <footer class="footer grey-widget">
            <div class="blue-widget">
                <div class="inset island">
                    <a href="http://gu.com/">
                        <img src="./images/logo-guardian-small.svg" alt="The Guardian">
                    </a>
                </div>
            </div>
            <div class="inset island">
                © Guardian News and Media Limited or its affiliated companies. All rights reserved.
            </div>
        </footer>
        <script async>
            /* global System */
            System.import('js/app').catch(function(e) {
                setTimeout(function() {
                    throw e;
                });
            });
        </script>
    </body>
</html>
