        <footer class="footer grey-widget">
            <div class="blue-widget">
                <div class="inset island">
                    <a href="http://gu.com/">
                        <img src="./images/logo-guardian-small.svg" alt="The Guardian">
                    </a>
                </div>
            </div>
            <div class="inset island">
                © Guardian News and Media Limited or its affiliated companies. All rights reserved.
            </div>
        </footer>
        <div class="gdpr-consent">
            <div class="inset">
                <div class="site-message--first-pv-consent__block site-message--first-pv-consent__block--intro">
                    <p>We use cookies to improve your experience on our site and to show you personalised advertising.</p>
                    <p>To find out more, read our <a class="u-underline" data-link-name="first-pv-consent : to-privacy" href="https://www.theguardian.com/help/privacy-policy">privacy policy</a> and <a class="u-underline" data-link-name="first-pv-consent : to-cookies" href="https://www.theguardian.com/info/cookies">cookie policy</a>.</p>
                </div>
            </div>
        </div>
        <script async>
            /* global System */
            System.import('js/app').catch(function(e) {
                setTimeout(function() {
                    throw e;
                });
            });
        </script>
        <script>
            // if we want tracking, look at https://github.com/guardian/support-frontend/pull/1672
            // if we want a banner, look at https://github.com/guardian/support-frontend/pull/1677
            const consented = false;
            if (consented) {
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-52876985-1', 'auto');
                ga('send', 'pageview');
            }

        </script>
    </body>
</html>
