<!DOCTYPE html>
<head>
    <title>The Guardian – Developers</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width">

    <!-- TODO: Concatenate -->
    <script src="/jspm_packages/traceur-runtime@0.0.43.js"></script>
    <script src="/jspm_packages/es6-module-loader@0.6.1.js"></script>
    <script src="/jspm_packages/system@0.6.js"></script>
    <script src="/config.js"></script>
    <script>
        System.import('js/app');
    </script>
</head>
<header class="header">
    <div class="header__inner">
        <!-- <h1>The Guardian – Developers</h1> -->
        <div class="header-row">
            <div class="header-column title-parent">
                <h1 class="title">
                    <a href="/">
                        <img src="/images/logo-guardian-developers.svg"
                             alt="The Guardian – Developers">
                    </a>
                </h1>
            </div>
            <div class="header-column--links-nav-parent">
                <nav class="links-nav">
                    <h1 class="hidden">Links</h1>
                    <a href="#"><img src="/images/icon-github.svg" alt="Our GitHub"></a>
                    <a href="#"><img src="/images/icon-rss.svg" alt="Our GitHub"></a>
                    <a href="#"><img src="/images/icon-twitter.svg" alt="Our GitHub"></a>
                </nav>
            </div>
        </div>
        <nav class="main-nav">
            <h1 class="hidden">Navigation</h1>
            <ul class="l-grid l-grid--collapse l-desktop-grid">
                <% pages.forEach(function (page) { %>
                    <li class="l-desktop-grid-cell l-grid-cell">
                        <a href="<%= page.filename %>"
                           <% if (page.filename === fileBasename.replace(/\.ejs$/, '.html')) { %> class="active" <% } %>><%= page.title %></a>
                   </li>
                <% }); %>
            </ul>
        </nav>
    </div>
</header>
