<% include head %>
<main class="trailing-margin">
    <section>
        <h1 class="hidden">Home</h1>
        <div class="main-image">
            <div class="main-image__overlay">
                <div class="inset">
                    <section class="blue-widget island main-image__overlay__inner">
                        <h2 class="h1">We’re shaping the future of digital journalism. Join&nbsp;us.</h2>
                        <p class="dotted-top dotted-top--white">The innovation and energy of a start-up combined with the Guardian’s ground breaking journalism.</p>
                        <p><a href="./join-the-team.html" class="cta-link">Join our team</a></p>
                    </section>
                </div>
            </div>
            <img class="main-image__img" src="./images/IMG_5509.jpg" alt="Developers at the Guardian Hack Day">
        </div>
        <div class="inset">
            <div class="island">
                <div class="l-grid l-desktop-grid">
                    <div class="l-desktop-grid-cell l-grid-cell l-desktop-2of3">
                        <section>
                            <h2 class="foo">We build in pursuit of a cause that is greater than ourselves.</h2>
                            <div class="l-grid l-tablet-grid l-tablet-grid--1of2">
                                <div class="l-tablet-grid-cell l-grid-cell">
                                    <section>
                                        <h3>Empowering journalists</h3>
                                        <p>We build products that make it easier for journalists to publish informative and delightful stories.</p>
                                    </section>
                                </div>
                                <div class="l-tablet-grid-cell l-grid-cell">
                                    <section>
                                        <h3>Coding in the open</h3>
                                        <p>We do much of our coding in public. Sadly, the same can be said of our karaoke.</p>
                                    </section>
                                </div>
                                <div class="l-tablet-grid-cell l-grid-cell">
                                    <section>
                                        <h3>Moving fast</h3>
                                        <p>We spend our energy on the right things, shipping code and then rapidly iterating on it. Move fast, break news.</p>
                                    </section>
                                </div>
                                <div class="l-tablet-grid-cell l-grid-cell">
                                    <section>
                                        <h3>Using the best tool for the job</h3>
                                        <p>We mostly program in Scala and JavaScript, but we use the best tool that solves the problem.</p>
                                    </section>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="l-desktop-grid-cell l-grid-cell">
                        <section class="content blue-widget">
                            <div class="video">
                                <div class="video__placeholder"></div>
                                <iframe src="https://player.vimeo.com/video/84380461?title=0&amp;byline=0&amp;portrait=0"
                                        frameborder="0"
                                        webkitallowfullscreen
                                        mozallowfullscreen
                                        allowfullscreen
                                        class="video__iframe"></iframe>
                            </div>
                            <div class="island">
                                <h2 class="h3">What's it like to work at the Guardian?</h2>
                                <p>Members of our team talk about what they enjoy about working at the Guardian.</p>
                                <p><a href="#" class="cta-link">Join our team</a></p>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <section class="island developer-blog-section">
                <h2>Developer Blog</h2>
                <div class="drop-zone trailing-margin" hidden></div>
                <p><a href="http://www.theguardian.com/info/developer-blog" class="cta-link">See more</a></p>
            </section>
        </div>
    </section>
</main>
<% include footer %>
