<% include head %>
<main class="trailing-margin">
    <section>
        <div class="grey-widget trailing-margin">
            <div class="page-intro">
                <h1>Join the Team</h1>
                <p>We’re committed to a digital-first strategy, and in order to
                achieve this, we’re expanding our team of developers.</p>
            </div>
        </div>
        <div class="inset">
            <div class="island">
                <div class="dotted-top">
                    <h2>Jobs</h2>
                    <div class="trailing-margin" style="max-width: 50em;">
                        <p>We need people who love a challenge and are willing
                        to successfully take on difficult tasks, contribute to
                        their team and learn on the job. Our engineers enjoy
                        learning and sharing what they learn and they get to
                        work on some unique challenges.</p> <p>We work in
                        cross-functional agile teams that we trust to tackle the
                        problems and objectives that they are given. All
                        development is based in London in the same offices as
                        our journalists and editors.</p>
                    </div>
                </div>
            </div>
            <div class="island">
                <div class="l-grid l-desktop-grid">
                    <div class="l-desktop-grid-cell l-grid-cell l-desktop-1of3">
                        <nav>
                            <ul>
                                <% scope.jobs.forEach(function (job) { %>
                                    <li><a href="#<%= job.title %>"
                                           title="View job details"><%= job.title %></a></li>
                                <% }); %>
                            </ul>
                        </nav>
                    </div>
                    <div class="l-desktop-grid-cell l-grid-cell">
                        <% scope.jobs.forEach(function (job) { %>
                            <section>
                                <h3><%= job.title %></h3>
                                <p><%= job.description %></p>
                                <p><a href="https://gnm.taleo.net/careersection/ex/jobsearch.ftl?lang=en"
                                      class="cta-link">Read more</a></p>
                            </sectiom>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<% include footer %>
